<html>
<head>Secret Number Guesser</head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
  <%= message %>
</body>
</html>
